.hr {
  margin: 20px 0 40px;
}

.fa,
.fab {
  font-size: 6rem;
}

.fa::before,
.fab::before {
  color: #222;
}

.social-content a li {
  position: relative;
  list-style: none;
}

.social-content a li::before {
  font-family: fontAwesome;
  position: absolute;
  top: -4px;
  left: 0;
  font-size: 6rem;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-content a:nth-child(1) li::before {
  content: "\f08c";
  color: #1da1f2;
  border-bottom: 4px solid #1da1f2;
}

.social-content a:nth-child(2) li::before {
  content: "\f232";
  color: #25d366;
  border-bottom: 4px solid #25d366;
}

.social-content a:nth-child(3) li::before {
  content: "\f09b";
  color: #74309d;
  border-bottom: 4px solid #74309d;
}

.social-content li:hover::before {
  height: 100%;
}

@media (min-width: 720px) {
  .social-content a li {
    margin: 20px 0;
  }
}
