.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.skill-content h1 {
  font-weight: bold;
}

.skill-content hr {
  margin: 20px 0;
}

.tab-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tab-content .active {
  background: white;
  color: black;
  border-radius: 25px;
}

.skill-card:hover {
  transition: none;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2),
    0px 0px 50px rgba(255, 255, 255, 0.2);
}

.skill-card .logo {
  min-height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.75s ease-out;
}

.skill-card .title {
  transition: all 0.75s ease-out;
  transform: translateZ(0px);
}

.skill-card:hover .title,
.skill-card:hover .logo {
  transform: translateZ(50px);
}
